@page
@model ApiFinacias.Views.View.HelpModel
@{
}

<html>
    <head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/Help.css">
    </head>
    <body>
        <div class="Titulo">
            <h1 class="Titulo-texto">Help</h1>
            <p class="Subtitulo-Texto">Welcome to the Help page.</p>
        </div>
        <div class="Corpo">
            <div class="Explicação">
                <p> Esta é a pagina de ajuda de Api de Financias</p>
                <p> Aqui você pode encontrar informações sobre a API e como utiliza-la</p>
                <p> Alem de ter todas as informações sobre a Api</p>
                <p> Abaixo, links com as paginas para acessar a ajuda de minha Api</p>
            </div>
            <div class="Lista-links">
                <ul>
                    <li><a href="/Api/View/Help/About">Informações</a></li>
                    <li><a href="/Api/View/Help/Methods">Metodos https</a></li>
                    <li><a href="/Api/View/Help/Urls">Urls presente</a></li>
                    <li><a href="/Api/View/Help/SourceCode">Codigo Fonte</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>